:root {
  --primaryBg: #eff3ff;
  --primaryText: black;
  --primaryLinks: #3CB371;
  --secondaryBg: #e6e5f2;
  --secondaryText: #228B22;
  --secondaryLinks: #ffc107;
  --shadow: #595659;
  --cardBg: #2E8B57;
  --cardText: white;
  --cardLink: #d6cc13;
}
